*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.card1{
  background: white;
  padding: 50px 50px !important;
 
  box-shadow: 0 0 10px #ddd;
 
  align-items: center;
  justify-content: space-between;
}
.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
td {
height: 41px;
  
  align-items: center;
  border: 1px solid #ddd !important;
 
}
.update-card {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  width: 100%;
  justify-content: end;
}